 /* Reset some default styles */
 * {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    height: 10rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

/* Navigation styling */
nav {
    width: 100%;
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9900;
    /* Change to your desired hover color */
}

/* Main content styling */
main {
    padding: 2rem;
}

.dashboard {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem;
}

.widget {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.widget h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.widget p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.orders h2,
.menu h2,
.customers h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.orders table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.orders th,
.orders td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

.orders th {
    background-color: #f5f5f5;
    font-weight: bold;
}