.menu nav ul li {
    color: #000;
    background: none;
    border: none;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.menu li {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease;
}

.menu li button {
    background-color: #ff9900;
    border: none;
    color: white;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu li button:hover {
    background-color: #e58100;
    transform: scale(1.05);
}